:root {
  /* Light Theme Colors */
  --color-bg-light: #ffffff;
  --color-text-light: #000000;
  --color-primary-light: #0070f3;
  --color-secondary-light: #1a202c;

  /* Dark Theme Colors */
  --color-bg-dark: #000000;
  --color-text-dark: #ffffff;
  --color-primary-dark: #79ffe1;
  --color-secondary-dark: #2d3748;

  /* Common Colors */
  --color-button: #0070f3;
  --color-button-text: #ffffff;

  --fallout-text-collor: rgb(15, 185, 24);

  /* Font Sizes */
  --font-size-title: 55px;
  --font-size-subtitle: 1.5rem;
  --font-size-body: 1rem;
  --font-size-button: 1rem;
  --font-size-link: 1rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

/* Dark Theme */
[data-theme="dark"] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
}

/* Light Theme */
[data-theme="light"] {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
}

/* Apply Global Styles */
body {
  background-color: var( --color-bg-dark);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
